altgraph
anaconda-anon-usage 
anaconda-auth 
anaconda-cli-base 
annotated-types 
archspec 
asgiref==3.11.0
attrs==25.4.0
backports.tarfile 
boltons 
boto==2.49.0
boto3==1.42.24
botocore==1.42.24
brotlicffi 
certifi==2025.11.12
cffi 
charset-normalizer 
click 
colorama 
conda 
conda-anaconda-telemetry 
conda-anaconda-tos
conda-content-trust 
conda-libmamba-solver 
conda-package-handling  
conda_package_streaming 
cryptography 
distro 
Django==5.2.9
django-cors-headers==4.9.0
et_xmlfile==2.0.0
exceptiongroup==1.3.1
frozendict 
geographiclib==2.1
geopy==2.4.1
gpxpy==1.6.2
greenlet==3.3.0
h11==0.16.0
idna 
importlib_metadata 
jaraco.classes 
jaraco.context 
jaraco.functools 
jeepney 
jmespath==1.0.1
jsonpatch 
jsonpointer 
keyring 
libmambapy 
markdown-it-py
mdurl 
menuinst 
more-itertools 
numpy==2.2.6
openpyxl==3.1.5
outcome==1.3.0.post0
packaging==25.0
pandas==2.3.3
pkce 
platformdirs 
pluggy 
pycosat 
pycparser 
pydantic 
pydantic-settings 
pydantic_core 
pyee==13.0.0
Pygments 
pyinstaller==6.16.0
pyinstaller-hooks-contrib==2025.9
PyJWT 
PySocks 
python-dateutil==2.9.0.post0
python-dotenv 
pytz==2025.2
readchar 
requests 
rich 
ruamel.yaml 
ruamel.yaml.clib 
s3transfer==0.16.0
SecretStorage 
selenium==4.38.0
semver 
shellingham 
six==1.17.0
sniffio==1.3.1
sortedcontainers==2.4.0
sqlparse==0.5.5
tomli 
tqdm 
trio==0.32.0
trio-websocket==0.12.2
truststore 
typer 
typing-inspection 
typing_extensions==4.15.0
tzdata==2025.3
urllib3 
websocket-client==1.9.0
wsproto==1.3.2
xlsxwriter==3.2.9
zipp 
zstandard 
